body
{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

header {
    position: fixed;
    top: 0px;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    background-color: #006bb3;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

footer {
    position: fixed;
    bottom:0px;
    color: #ffffff;
    background-color: #006bb3;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align: center;
    font-size: large;
}

h3 {
    text-align: center;
}

tr {
    text-align: center;
}

